div#joplin-plugin-content {
  width: fit-content;
}

form#filtersStringForm {
  display: grid;
  text-align: center;
}

form#filtersStringForm > button {
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

fieldset#filtersFieldSet {
  display: grid;
}

fieldset#filtersFieldSet > div {
  display: flex;
  margin-top: 5px;
}

fieldset#filtersFieldSet > div > button {
  margin-left: 2px;
}

fieldset#filtersFieldSet > button {
  margin-top: 5px;
}
